machine api.heroku.com
  login {{ NOTIFIER_HEROKU_USERNAME }}
  password {{ NOTIFIER_HEROKU_PASSWORD }}
machine code.heroku.com
  login {{ NOTIFIER_HEROKU_USERNAME }}
  password {{ NOTIFIER_HEROKU_PASSWORD }}

