---
input:
  # In seconds, defines how often to read server statistics
  period: {{ topbeat_period_seconds }}

  # Regular expression to match the processes that are monitored
  # By default, all the processes are monitored
  procs: {{ TOPBEAT_PROCS }}

  # Statistics to collect
  stats: {{ topbeat_stats }}

output:
  logstash:
    hosts: ["{{ TOPBEAT_LOGSTASH_HOST }}:{{ TOPBEAT_LOGSTASH_PORT }}"]
    index: topbeat
