{%- if EDXAPP_SHIB_ONLY -%}
  location /signup {
    return 302 $scheme://{{ EDXAPP_LMS_SITE_NAME }}/auth/login/tpa-saml/?auth_entry=register&idp=sunet&next=/cms;
  }

  location /signin {
    return 302 $scheme://{{ EDXAPP_LMS_SITE_NAME }}/auth/login/tpa-saml/?auth_entry=login&idp=sunet&next=/cms;
  }

  location = /cms {
    return 302 $scheme://{{ EDXAPP_CMS_SITE_NAME }}/home/;
  }
{%- endif %}
