filebeat:
  prospectors:
    -
      paths:
        - "{{ FILEBEAT_LOG_DIR }}/nginx/*access*.log"
      document_type: nginx_access
    -
      paths:
        - "{{ FILEBEAT_LOG_DIR }}/nginx/*error*.log"
      document_type: nginx_error
    -
      paths:
        - "{{ FILEBEAT_LOG_DIR }}/cms/edx.log"
        - "{{ FILEBEAT_LOG_DIR }}/lms/edx.log"
        - "{{ FILEBEAT_LOG_DIR }}/xqueue/edx.log"
        - "{{ FILEBEAT_LOG_DIR }}/certs/edx.log"
        - "{{ FILEBEAT_LOG_DIR }}/notifier/edx.log"
        - "{{ FILEBEAT_LOG_DIR }}/analytics-api/edx.log"
        - "{{ FILEBEAT_LOG_DIR }}/insights/edx.log"
      document_type: openedx_sandbox
      multiline:
        pattern: '^[[:upper:]][[:lower:]]{2}[[:space:]]'
        negate: true
        match: after
        timeout: "{{ FILEBEAT_MULTILINE_MATCH_TIMEOUT }}"
    -
      # these were not present in the sandbox
      paths:
        - "{{ FILEBEAT_LOG_DIR }}/supervisor/notifier-celery-workers-stderr.log"
        - "{{ FILEBEAT_LOG_DIR }}/supervisor/notifier-scheduler-stderr.log"
      document_type: supervisor_notifier_error
      multiline:
        pattern: '^[[:digit:]]{4}'
        negate: true
        match: after
        timeout: "{{ FILEBEAT_MULTILINE_MATCH_TIMEOUT }}"
    -
      paths:
        - "{{ FILEBEAT_LOG_DIR }}/devpi/supervisor/supervisord.log"
        - "{{ FILEBEAT_LOG_DIR }}/devpi/supervisor/devpi-server-stderr.log"
      document_type: devpi
    -
      paths:
        - "{{ FILEBEAT_LOG_DIR }}/supervisor/cms_*-stdout.log"
        - "{{ FILEBEAT_LOG_DIR }}/supervisor/lms_*-stdout.log"
        - "{{ FILEBEAT_LOG_DIR }}/supervisor/cms-stdout.log"
        - "{{ FILEBEAT_LOG_DIR }}/supervisor/lms-stdout.log"
      document_type: supervisor_worker_stdout
      multiline:
        pattern: '^(\[[[:alpha:]]{5}\])'
        negate: true
        match: after
        timeout: "{{ FILEBEAT_MULTILINE_MATCH_TIMEOUT }}"
    -
      paths:
        - "{{ FILEBEAT_LOG_DIR }}/supervisor/cms_*-stderr.log"
        - "{{ FILEBEAT_LOG_DIR }}/supervisor/lms_*-stderr.log"
      document_type: supervisor_worker_error
      multiline:
        pattern: '^[[:digit:]]{4}|^\[[[:digit:]]{4}'
        negate: true
        match: after
        timeout: "{{ FILEBEAT_MULTILINE_MATCH_TIMEOUT }}"
    -
      paths:
        - "{{ FILEBEAT_LOG_DIR }}/supervisor/xqueue_consumer-stderr.log"
        - "{{ FILEBEAT_LOG_DIR }}/supervisor/certs-stderr.log"
      document_type: supervisor_error_traceonly
      multiline:
        pattern: '^Traceback'
        negate: true
        match: after
        timeout: "{{ FILEBEAT_MULTILINE_MATCH_TIMEOUT }}"
    -
      paths:
        - "{{ FILEBEAT_LOG_DIR }}/supervisor/xqueue-stderr.log"
        - "{{ FILEBEAT_LOG_DIR }}/supervisor/analytics_api-stderr.log"
        - "{{ FILEBEAT_LOG_DIR }}/supervisor/certs-stderr.log"
        - "{{ FILEBEAT_LOG_DIR }}/supervisor/insights-stderr.log"
        - "{{ FILEBEAT_LOG_DIR }}/supervisor/cms-stderr.log"
        - "{{ FILEBEAT_LOG_DIR }}/supervisor/lms-stderr.log"
      document_type: supervisor_error
      multiline:
        pattern: '^[[:digit:]]{4}'
        negate: true
        match: after
        timeout: "{{ FILEBEAT_MULTILINE_MATCH_TIMEOUT }}"
    -
      paths:
        - "{{ FILEBEAT_LOG_DIR }}/supervisor/forum-stderr.log"
      document_type: supervisor_forum_error
      multiline:
        pattern: '^(I, \[|[[:digit:]][[:digit:]][[:digit:]]??\.)'
        negate: true
        match: after
        timeout: "{{ FILEBEAT_MULTILINE_MATCH_TIMEOUT }}"
    -
      paths:
        - "{{ FILEBEAT_LOG_DIR }}/supervisor/supervisord.log"
      document_type: supervisor_log
    -
      paths:
        - "{{ FILEBEAT_LOG_DIR }}/supervisor/xqueue*-stdout.log"
        - "{{ FILEBEAT_LOG_DIR }}/supervisor/analytics_api-stdout.log"
        - "{{ FILEBEAT_LOG_DIR }}/supervisor/certs-stdout.log"
        - "{{ FILEBEAT_LOG_DIR }}/supervisor/insights-stdout.log"
      document_type: supervisor_stdout
    -
      paths:
        - "{{ FILEBEAT_LOG_DIR }}/mongo/*.log"
        - "/var/log/mongo/*.log"
      document_type: mongo
      multiline:
        pattern: '^[[:digit:]]{4}'
        negate: true
        match: after
        timeout: "{{ FILEBEAT_MULTILINE_MATCH_TIMEOUT }}"
    -
      paths:
        - "{{ FILEBEAT_LOG_DIR }}/tracking/*.log"
      document_type: tracking
    -
      paths:
        - "/var/log/logstash/*.log"
      document_type: logstash
      multiline:
        pattern: '^\{\:timestamp'
        negate: true
        match: after
        timeout: "{{ FILEBEAT_MULTILINE_MATCH_TIMEOUT }}"
    -
      paths:
        - "{{ FILEBEAT_LOG_DIR }}/elasticsearch/*.log"
        - "/var/log/elasticsearch/*.log"
      document_type: elasticsearch
      multiline:
        pattern: '^\[[[:digit:]]{4}'
        negate: true
        match: after
        timeout: "{{ FILEBEAT_MULTILINE_MATCH_TIMEOUT }}"
    -
      paths:
        - "/var/log/mysql/*.log"
      document_type: mysql
      multiline:
        pattern: '^[[:digit:]]{4}'
        negate: true
        match: after
        timeout: "{{ FILEBEAT_MULTILINE_MATCH_TIMEOUT }}"
    -
      paths:
        - /var/log/syslog
        - "/var/log/mail.*"
        - "/var/log/kern.*"
        - "/var/log/news.*"
        - "/var/log/*.emerg"
      document_type: rsyslog

output:
  logstash:
    hosts:
      - "{{ FILEBEAT_LOGSTASH_HOST }}:{{ FILEBEAT_LOGSTASH_PORT }}"
