[defaults]
callback_whitelist = profile_tasks
host_key_checking = False
inventory = ../../playbooks/edx-east/ec2.py
jinja2_extensions = jinja2.ext.do
library = ../../playbooks/edx-east/library
log_path = ../../logs/playground-ansible.log
private_key_file = ../../../etc/keys/ssh/playground/ubuntu.private
remote_user = ubuntu
roles_path = ../../playbooks/roles:../roles

[ssh_connection]
ssh_args=-o ControlMaster=auto -o ControlPersist=5m -o ControlPath="~/.ansible/tmp/ansible-ssh-%h-%p-%r" -o ServerAliveInterval=30
